@import "tailwindcss";

:root {
  --color-dark: #282828;
  --color-accent: #73f4b0;
  --color-light: #e6fff0;
}

@theme inline {
  --color-dark: var(--color-dark);
  --color-accent: var(--color-accent);
  --color-light: var(--color-light);
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-family: var(--font-primary), sans-serif;
}
